

#photo{
    background-image: url('Parabatai.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h4{
    color: lavender;
}

label{
    color:white;
}

.pic{
width: 350px;
height: 250px;
margin-bottom: 10px;
}